<div class="user-container">

    <button ng-click="onMain()" class="button-orange" id="on-main-button">На главную</button>
    <form name="userEditForm" class="user-edit-form form-horizontal" >
        <legend>Редактирование профиля</legend>
        <div class="form-group">
             <label class="col-sm-3" for="firstname">Ваше имя</label>
             <div class="col-sm-9">
                 <input id="firstname"  class="form-control" type="text" placeholder="Введите имя"
                        name="firstname" ng-model="firstname" ng-maxlength="2" />
              </div>
            <div  class="col-sm-offset-3 warn center" ng-show="userEditForm.firstname.$error.maxlength" class="warn">Имя не должно превышать 255 символов</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3" for="secondname">Ваша фамилия</label>
            <div class="col-sm-9">
                <input id="secondname"  class="form-control" type="text" placeholder="Введите фамилию"
                       name="secondname" ng-model="secondname" ng-maxlength="2" />
            </div>
            <div  class="col-sm-offset-3 warn center" ng-show="userEditForm.secondname.$error.maxlength" class="warn">Фамилия не должнa превышать 255 символов</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3" for="email">Email</label>
            <div class="col-sm-9">
                <input id="email"  class="form-control" type="text" placeholder="Введите email"
                       name="email" ng-model="email" ng-maxlength="255" required correct-email/>
            </div>
            <div class="col-sm-offset-3 warn center" ng-show="userEditForm.email.$error.required && !userEditForm.email.$pristine">Введите email</div>
            <div class="col-sm-offset-3 warn center" ng-show="userEditForm.email.$error.correctEmail && !userEditForm.email.$pristine">Введите коректный email</div>
        </div>

        <div class="form-group">
            <label class="col-sm-3" for="phone">Телефон</label>
            <div class="col-sm-9">
                <input id="phone"  class="form-control" type="text" placeholder="Введите телефон"
                       name="phone" ng-model="phone"  required ng-pattern="/^\+380[0-9]{9}$/"/>
            </div>
            <div class="col-sm-offset-3 warn center" ng-show="userEditForm.phone.$error.pattern">Неверный формат номера, допустимы только номера +380</div>


        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button  disable-mark="userEditForm.$invalid" disable-act="edit()"  class="col-sm-offset-4 button-orange" id="edit-button">Редактировать</button>
        </div>
    </form>


    <form name="passwordEditForm" class="user-edit-form form-horizontal" >
        <legend>Смена пароля</legend>


        <div class="form-group">
            <label for="newpassword" class="col-sm-3">Новый пароль</label>
            <div class="col-sm-9">
                <input id="newpassword" class="form-control" type="password" value=" "
                       name="newpassword" ng-model="newpassword" correct-password/>
            </div>
            <div class="col-sm-offset-3 warn center" ng-show="passwordEditForm.newpassword.$error.correctPassword">Слишком слабый пароль</div>
        </div>

        <div class="form-group">
            <label for="confirmnewpassword" class="col-sm-3">Повторите новый пароль</label>
            <div class="col-sm-9">
                <input id="confirmnewpassword" class="form-control" type="password" value=" "
                       name="confirmnewpassword" ng-model="confirmnewpassword" correct-password must-equal="newpassword"/>
            </div>
            <div class="col-sm-offset-3 warn center" ng-show="passwordEditForm.confirmnewpassword.$error.mustEqual">Пароли не совпадают</div>


        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <button  disable-mark="passwordEditForm.$invalid" disable-act="edit()" class="col-sm-offset-4 button-orange" id="edit-button">Сменить пароль</button>
        </div>
    </form>
</div>