.user-container{
  width:80%;
  margin: auto;
  background-color: @element;
  text-align:center;
}
.user-edit-form
{
  width:60%;
  margin:auto;
  border:1px solid red;
  margin-bottom: 20px;
}
.center{
  text-align: center;
}
#on-main-button{
  width:15%;
  margin:20px;
}
#edit-button{
  width: 60%!important;
  margin:20px auto;

}
#edit-button.disabled{
  width: 30%!important;
}