body{
  background-color: @background;
}

.modal-container.visible{
  top: 100px;
  width:100%;
  position: absolute;
  background-color:@background;
}

.modal-window{
  .font(@base, @normal, @black);
  width: 620px;
  margin:auto;
  text-align:center;
  background-color:@element;
  position:relative;
  z-index: @z-index-modal;
  border:1px solid red;

}

.log-in-tab,.sign-up-tab{
  text-align:center;
  margin-bottom: 20px;
  cursor:pointer;
}

.log-in-tab.active,.sign-up-tab.active{
  background-color:lighten(@orange,15%);
  border:1px solid darken(@orange,15%);
  .font(@base, @normal, @element);
}
.auth-form form input{
  margin:auto;
  margin-bottom:20px;
  transition:500ms linear;
  -webkit-transition:500ms linear;
}
.auth-form form input.ng-invalid.ng-dirty{
  outline:3px solid red;
}


.auth-form button{
  background-color: @orange;
  width:90%;
  padding:10px;
  cursor:pointer;
  .font(@base,@normal,@element);
  margin-bottom:20px;
  border:1px solid darken(@orange,15%);

}
.auth-form button.disabled{
  width:50%;
}
.auth-form button:hover{
  background-color: lighten(@orange,15%);
}


.warn{
  .font(@xsmall,@normal,@red);
  i{
    margin-left:10px;
    background-color: @element;
  }
}

.auth-form input[type="checkbox"]{
  width: 15px;
  height:15px;
  display: inline;
  margin:0px;
  padding:0px;
}
.remember-me{
  font-size:16px;
  float:left;
  margin-left:10%;
}