<div class="modal-body">
<div class="modal-container">
    <h1 ng-show="!product">Добавить товар</h1>
    <h1 ng-show="product">Редактировать товар</h1>
    <form name="CreateGood" class="create-good-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" ng-maxlength="255" ng-model="title" type="text" class="form-control" id="title" placeholder="title" required>
            <div class="warn" ng-show="CreateGood.title.$error.maxlength">
                <p>Не более 255 символов</p>
            </div>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" ng-model="price" type="text" class="form-control" id="price" placeholder="price" required ng-pattern="/[^a-zA-Z]\d{3,4},\d{2}/">
            <div class="warn" ng-show="CreateGood.price.$error.pattern">
                <p>Число в формате 2222,22</p>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" ng-maxlength="1000" ng-model="description" type="text" class="form-control" id="description" placeholder="description" required></textarea>
            <div class="warn" ng-show="CreateGood.description.$error.maxlength">
                <p>Не более 1000 символов</p>
            </div>
        </div>
        <button ng-show="!product" disable-mark="CreateGood.$invalid" disable-act="createGood()" class="button-orange">Добавить товар</button>
        <button ng-show="product" disable-mark="CreateGood.$invalid" disable-act="editGood()" class="button-orange">Редактировать товар</button>
        <button ng-click="hideModal()" class="button-orange">Отмена</button>
    </form>
</div>
</div>