.modal-body{
  width:100%;
  text-align: center;
  display:none;

  position:absolute;
  top:50px;
}
.visible{
  display:block;
}
.modal-container{
  .font(@base, @normal, @black);
  width: 620px;
  margin:auto;
  text-align:center;
  background-color:@element;
  position:relative;
  z-index: @z-index-modal;
}
.modal-container input,
.modal-container textarea{
  width:80%;
  margin:auto;
}
.modal-container button{
  margin: 20px 0;
}
.create-good-form button.disabled{
  width:50%;
}