.user-side-bar{
  float:left;
  width:25%;
  height:500px;
  background-color: @element;
}
.user-side-bar button{
  margin:10px 20px;
  width:80%;
}
.product-container{
  float: right;
  width:70%;
  background-color: @element;

}
.product-edit{
  width:500px;

  margin:auto;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  border:5px solid @orange;
}
.product-edit button{
  margin: 20px 0px;
}
.product-container hr{
  width:80%;
  border: 3px solid @black;
  margin:auto;
  margin-bottom:20px;
}
.product-holder{
  width:80%;
  margin:auto;
}
.product{
  width:100%;
  margin:10px 0;
  border:1px solid red;
  padding:4px;
  .font(@base, @normal, @black)
}
