
<div class="user-side-bar">
    <p> Email: {{user.Email}}</p>
    <button ng-click ="goToSettings()" class="button-orange">Настройки</button>
    <button ng-click="logout()" class="button-orange">Выйти</button>
</div>

<div class="product-container">
    <div class="row product-edit">
        <button ng-click="addGood()" class="button-orange">Создать</button>
        <button ng-click="deleteFew()" class="button-orange">Удалить выбраные</button>
    </div>
    <hr/>
    <div class="product-holder">
        <div class="product" ng-repeat="product in products">
            <p>#: {{$index+1}}</p>
            <p>title: {{product.title}}</p>
            <p>price: {{product.price}}</p>
            <p class="description" ng-show="product.showInfo">description:{{product.description}}</p>
            <div class="good-control">
                <button ng-click="deleteGood($index)">Удалить</button>
                <button ng-click="editGood($index)">Редактировать</button>
                <button ng-hide="product.showInfo" ng-click="showDescription($index)">Подробнее</button>
                <button ng-show="product.showInfo" ng-click="hideDescription($index)">Скрыть</button>
                <input type="checkbox" ng-model="product.delete"/><span>удалить</span>
            </div>
        </div>
    </div>

</div>